@model IEnumerable<AuctionSite.Models.Bid>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Bid date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
        </tr>
}
    </tbody>
</table>
